.table-header-bottom-shadow {
  border-bottom: 1px solid var(--Border-primary, #484848);
}

.table-background-gradient {
  background: linear-gradient(
    112.71deg,
    rgba(23, 23, 23, 0.6) 19.64%,
    rgba(105, 105, 105, 0.316464) 55.1%,
    rgba(125, 125, 125, 0.06) 92%
  );
  backdrop-filter: blur(20px);
}

.truncate-text {
  max-width: 244px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-line {
  border-bottom: 1px solid var(--Border-primary, #484848);
}

.bg-top-section {
  background: linear-gradient(
    112.71deg,
    rgba(23, 23, 23, 0.6) 19.64%,
    rgba(105, 105, 105, 0.316464) 55.1%,
    rgba(125, 125, 125, 0.06) 92%
  );
  box-shadow: 1px 1px 1px 0px #10193466;
}

.bg-graph-section {
  background: linear-gradient(
    112.71deg,
    rgba(23, 23, 23, 0.6) 19.64%,
    rgba(105, 105, 105, 0.316464) 55.1%,
    rgba(125, 125, 125, 0.06) 92%
  );
  backdrop-filter: blur(20px);
}
